.env

# Dependency directories
node_modules/
vendor
coverage
public/resources/

# PHPStorm directory
.idea

**/.obsidian/

# Config file
/config/config.php

/public/phpinfo.php

/.phpunit.result.cache
