# Dependency directories
node_modules/
vendor

# PHPStorm directory
.idea

# Config directory
/config

composer.lock
package-lock.json

/public/phpinfo.php

/tests/Framework/Files/temp
/.phpunit.result.cache