# phpstan.neon
parameters:
    level: 9
    paths:
        - src/
        - tests/
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        - '#Call to method PHPUnit\\Framework\\Assert::assert(?:InstanceOf|Same)\(\) with .+ will always evaluate to true#'
        - '#method\.alreadyNarrowedType#'
    reportUnmatchedIgnoredErrors: false
