<div class="row">
    <div class="col-md-12 btn-group">
        <input type="radio" class="btn-check" name="options" id="topalbums-btn" autocomplete="off" {% if music_filter == 'topalbums' %}checked{% endif %}>
        <label class="btn btn-outline-primary album-list-filter" for="topalbums-btn" data-searchtype="topalbums">Top Albums</label>

        <input type="radio" class="btn-check" name="options" id="topartists-btn" autocomplete="off" {% if music_filter == 'topartists' %}checked{% endif %}>
        <label class="btn btn-outline-primary album-list-filter" for="topartists-btn" data-searchtype="topartists">Top Artists</label>

        <input type="radio" class="btn-check" name="options" value="toptracks" id="toptracks-btn" autocomplete="off" {% if music_filter == 'toptracks' %}checked{% endif %}>
        <label class="btn btn-outline-primary album-list-filter" for="toptracks-btn" data-searchtype="toptracks">Top Tracks</label>

        <input type="radio" class="btn-check" name="options" value="all" id="allAlbums-btn" autocomplete="off" {% if music_filter == 'allalbums' %}checked{% endif %}>
        <label class="btn btn-outline-primary album-list-filter" for="allAlbums-btn" data-searchtype="allalbums">All Albums</label>
    </div>
</div>
<div id="music-list-container">
    {{ include('music/AlbumsList.html.twig', { albums: albums }) }}
</div>