[class*="col-"] {
    float: left;
    padding: 15px;
}

#main-page {
    position: absolute;
    margin-top: 100px;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

html {
    font-family: "Lucida Sans", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

#player-container {
    height: 85px;
}

#track-info {
    height: 60px;
    margin-top: -27px;
    width: 100%;
    clear: both;
}

#music-seek-bar {
    accent-color: #0B5ED7;
    width: 100%;
}

#tracklistContainer {
    cursor: default;
}

#player-container.open {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

#track-list {
    max-height: 75vh;
    overflow: auto;
}

#track-list.open {
    overflow: auto;
    max-height: 80vh;
}

#lyrics.open {
    overflow: auto;
    max-height: 80vh;
}

#tracklistContainer.open {
    height: 100%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

/*--------------------------
Sidebar navigation styles
 --------------------------*/

.nav {
    background-color: #DAE0E5;
    padding: 5px 0 5px 0;
    height: 100%;
}

.nav-link {
    padding: 15px;
    font-size: 1.8em;
}

.nav-link.active {
    background-color: white;
    margin-left: 10px;
}


/*-------------------------------------
DataTables Styles
 -------------------------------------*/
div.slider {
    /*display: none;*/
}

table.dataTable tbody td.no-padding {
    padding: 0;
}

.gi-1-3x {
    font-size: 1.3em;
}

.icon-minus-circled {
    color: red;
}

.icon-plus-circled {
    color: green;
}

.searchStyle {
    padding: 5px 12px;
    margin-top: 9px;
}

.tracks {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 14px;
}

.row-highlight {
    background-color: moccasin;
}

.row-highlight:hover {
    background-color: navajowhite;
}

.expand {
    cursor: context-menu;
}

/* General Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.tab-pane {
    height: 90vh;
    overflow-y: auto;
    max-width: 100%;
    overflow-x: hidden;
}

.ck-editor__editable_inline {
    min-height: 300px;
}

.disabled {
    cursor: not-allowed;
}

i.bi-heart {
    cursor: pointer;
}
