[class*="col-"] {
    float: left;
    padding: 15px;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

html {
    font-family: "Lucida Sans", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

/*--------------------------
Sidebar navigation styles
 --------------------------*/

.nav {
    background-color: #DAE0E5;
    padding: 5px 0 5px 0;
    height: 100%;
}

.nav-link {
    padding: 15px;
    font-size: 1.8em;
}

.nav-link.active {
    background-color: white;
    margin-left: 10px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.tab-pane {
    height: 90vh;
    overflow-y: auto;
    max-width: 100%;
    overflow-x: hidden;
}

.ck-editor__editable_inline {
    min-height: 300px;
}

.disabled {
    cursor: not-allowed;
}

.modal {
    display: none;
}
.modal.active {
    display: block;
    z-index: 10000;
}
.oauth-button {
    font-size: 1.5em;
}
