<div class="row">
    <div id="{{ section }}-comments" class="col-12 text-start">
        <h5 class="text-primary">Comments:</h5>
        <div class="col-md-12">
            {% if comments|length > 0 %}
                {% for comment in comments %}
                    <div class="row">
                        <div class="col-md-12">
                            <small class="text-start"><span class="text-primary">{{ comment.username }}</span> - {{ comment.created.format('Y-m-d H:i:s') }}</small>
                            <p class="text-start">{{ comment.comment }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12 text-center">
                    <p>No Comments Yet</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
