{% if user.isLoggedIn %}
    <button class="nav-link login-link" id="login-btn" data-task="logout">Log Out {{ user.name }}</button>
{% else %}
    <button class="nav-link login-link" id="login-btn" data-task="login">Log In</button>
{% endif %}
