{% if user.isLoggedIn %}
    <button class="btn btn-primary btn-sm" id="login-btn" data-task="logout">Log Out {{ user.name }}</button>
{% else %}
    <button class="btn btn-primary btn-sm" id="login-btn" data-task="login">Log In</button>
{% endif %}
