<div class="row">
    <div class="col-md-4">
        <label for="game-selector">Select Game:</label>
        <select id="game-selector" class="form-control">
            <option value=""> --- </option>
            {% for game in games %}
                <option value="{{ game.code }}">{{ game.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-8">

    </div>
</div>
<div class="row">
    <div id="selected-game" class="col-md-12">

    </div>
</div>