{% extends'base.html.twig' %}

{% set title = 'Photos' %}
{% set section = 'photos' %}

{% block page_content %}
    {{ include('photos/partials/photo-search-bar.html.twig') }}
    {{ include('photos/partials/photo-placeholder.html.twig') }}
    <div id="photos">
        {{ include('photos/partials/photo-grid.html.twig', { photos: photos }) }}
    </div>
{% endblock %}
