{% extends 'base.html.twig' %}

{% set title = 'Photos' %}

{% block page_content %}
    <div class="row" id="photo-search-bar">
        {{ include('photos/PhotoSearchBar.html.twig', { albums: albums }) }}
    </div>
    <div id="photo-album-header">
        <h2>{{ photos.getTitle() }}</h2>
        <p>{{ photos.getDescription() }}</p>
    </div>
    {{ include('photos/PhotoGrid.html.twig', { photos: photos.getPhotos() }) }}
{% endblock %}
