{% extends'base.html.twig' %}

{% set title = 'Photos' %}

{% block page_content %}
<div class="row" id="photo-search-bar">
    {{ include('photos/PhotoSearchBar.html.twig', { directories: directories }) }}
</div>
    {{ include('photos/PhotoGrid.html.twig', { photos: photos }) }}
{% endblock %}
